<%- include("partials/header") -%>
  <h1>Add Passenger Details</h1>
  <form method="POST" enctype="multipart/form-data">
    <div class="padding row form-group">
      <div class="col-md-4">
        <label for="fname">Passenger ID</label>
        <input type="text" class="form-control" id="PID" name="PID" />
      </div>
    </div>
    <div class="padding row form-group">
      <div class="col-md-4">
        <label for="number">Images</label>
        <input type="file" class="form-control" id="avatar" name="avatar" multiple />
      </div>
    </div>
    <button type="submit" class="padding btn btn-lg btn-primary">
      Add Details!
    </button>
  </form>
  <%- include("partials/footer") -%>