<%- include("partials/header") -%>
<h1>Contact Me</h1>
<ul>
    <li><a href="mailto:nityaa55@gmail.com">Nitya Dyuthi</a> => website</li>
    <li><a href="mailto:likithsrinath2000@gmail.com">Likith</a> => website</li>
    <li>
        <a href="mailto:khushwinder99@gmail.com">Khushwinder</a>=> facial
        recognition
    </li>
    <li>
        <a href="mailto:bhumidshetty2000@gmail.com">Bhumika</a> => facial
        recognition
    </li>
</ul>
<div style="height:200px"></div>
<%- include("partials/footer") -%>