<%- include("partials/header") -%>
<h1>Hello!</h1>
<h3>What do you want to do?</h3>
<div class="padding list-group">
  <a href="/addPassenger" class="padding-sm list-group-item list-group-item-action list-group-item-info">Add
    Passenger</a>
  <a href="/issueTicket" class="padding-sm list-group-item list-group-item-action list-group-item-info">Manually Issue
    Ticket</a>
  <a href="/deletePassenger" class="padding-sm list-group-item list-group-item-action list-group-item-info">Delete
    Passenger</a>
  <a href="/update" class="padding-sm list-group-item list-group-item-action list-group-item-info">Update Passenger
    Details</a>
  <a href="./viewPassengerDetails" class="padding-sm list-group-item list-group-item-action list-group-item-info">View
    Passenger Details</a>
</div>

<%- include("partials/footer") -%>