<%- include("partials/header") -%>
<h1>Hello!</h1>
<h3>What do you want to do?</h3>
<div class="padding list-group">
  <a
    href="./add"
    class="padding-sm list-group-item list-group-item-action list-group-item-info"
    >Add Passenger</a
  >
  <a
    href="./token"
    class="padding-sm list-group-item list-group-item-action list-group-item-info"
    >Issue Token</a
  >
  <a
    href="./delete"
    class="padding-sm list-group-item list-group-item-action list-group-item-info"
    >Delete Passenger</a
  >
  <a
    href="./update"
    class="padding-sm list-group-item list-group-item-action list-group-item-info"
    >Update Passenger Details</a
  >
  <a
    href="./view"
    class="padding-sm list-group-item list-group-item-action list-group-item-info"
    >View Passenger Details</a
  >
</div>
<%- include("partials/footer") -%>
