<%- include ("partials/header") -%>
<h3 class="green-text"><%= message %></h3>
<a href="/home" class="padding-sm list-group-item list-group-item-action list-group-item-info">Go Back to Home</a>
<div style="height:320px"></div>
<%- include ("partials/footer") -%>