<%- include("partials/header") -%>
<div class="card">
  <div class="card-body">
    <h1 class="card-title">Ticket Details:</h1>
    <p class="card-text">Ticket ID: <%- ticketID %> </p>
    <p class="card-text">Passenger ID: 1 (Insert Mode = manual)</p>
    <p class="card-text">Fare for the trip: ₹<%- fare %>/-</p>
  </div>
</div>


</div>
<div class="footer-padding">
<div class="footer footer-bottom">
  <p>Made by theDoers</p>
</div>
</div>
</div>
</body>

</html>
