<%- include("partials/header") -%>
<div class="card">
  <div class="card-body">
    <h1 class="card-title">Ticket Details:</h1>
    <p class="card-text">Ticket ID: <%- ticketID %> </p>
    <p class="card-text">Passenger ID: 1 (Insert Mode = manual)</p>
    <p class="card-text">Fare for the trip: ₹<%- fare %>/-</p>
  </div>
</div>
<a href="/home" class="padding-sm list-group-item list-group-item-action list-group-item-info">Go back Home</a>

<%- include("partials/footer") -%>