body {
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.font-semibold {
  font-weight: 600;
}

.white-text {
  color: white;
}

.green-text {
  color: rgb(66, 121, 66);
}

.dropdown-item,
.dropdown-toggle {
  font-weight: 500 !important;
}

/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
} */

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  color: #fff;
  font-style: unset;
  background-color: #9a6391;
  background-image: linear-gradient(45deg, #9a6391 0%, #8c4671 74%);
}

.navbar-brand.brand {
  color: white;
  letter-spacing: 0.75px;
}

.navbar-brand.brand:hover {
  color: #a695b1 !important;
}

.navbar-nav li a {
  color: white !important;
  font-style: unset;
}

.navbar-nav li a:hover {
  color: #a695b1 !important;
}

.footer-padding {
  padding-top: 1.15rem !important;
  padding-bottom: 1.15rem;
}

.footer {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #9a6391;
  background-image: linear-gradient(45deg, #9a6391 0%, #8c4671 74%);
  flex-shrink: 0;
  margin-top: 0;
}

.footer-bottom {
  bottom: 0;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
  padding: 0 !important;
}

.form-group {
  margin-bottom: 5px;
}

.padding {
  padding: 1rem;
}

button.padding {
  margin: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

a.padding {
  margin: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.padding-sm {
  margin: 1.5rem;
  font-size: 1.75rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  background-color: #8c4671;
  border-color: #8c4671;
}

.btn:hover {
  background-color: #9a6391;
}

.btn:focus {
  background-color: #9a6391;
}

.list-group {
  max-width: 55rem;
}

a.list-group-item-info,
button.list-group-item-info {
  background: #9a6391;
  color: white;
  border-radius: 6px !important;
}

a.list-group-item-info:hover,
button.list-group-item-info:hover {
  background: #8c4671;
  color: white;
  border-radius: 6px !important;
}

.card {
  background-color: #c5bdca;
  width: fit-content;
  height: 100%;
  padding: 3rem;
  border-radius: 7px;
  margin: 2rem;
  box-shadow: 5px 5px 9px grey;
}